
Temp/
Logs
Logs/*


Library/Artifacts
Library/BurstCache
Library/BurstCache/*
Library/PackageCache
Library/ShaderCache
Library/ShaderCache/*
Library/StateChache
Library/StateCache/*
Library/PlayerDataCache
Library/PlayerDataCache/*
Library/Bee
Library/Bee/*
Library/

Assets/TextMesh Pro
Assets/MUSIC
Assets/TEXTURES

BIN/

